@model AmiFlota.Models.ViewModels.BookingVM

<div class="row text-center">
    <h2>Booking detailed information</h2>
</div>

<div class="form-group row">
    <h4>@Model.Booking.CarVIN</h4>
</div>
<div class="form-group row">
    <h4>@Model.Booking.BookingUser</h4>
</div>

<form method="post" asp-controller="Booking" asp-action="BookingDetails" id="bookingDetailsForm">
    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label for="Booking.Destination">Destination</label>
            <textarea type="text" class="form-control" id="Booking.Destination"></textarea>
        </div>
        <div class="form-group">
            <label for="Booking.ProjectCost">Project</label>
            <textarea type="text" class="form-control" id="Booking.ProjectCost"></textarea>
        </div>

        <div class="row">
            <button type="submit" id="btnBookDetails" class="btn btn-success">Book</button> &nbsp; <!--space-->
        </div>
    </div>
</form>